<style>
    @import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

    .fixed-bottom {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #1F1D36;
    }

    footer {
        font-family: 'Montserrat', sans-serif;
    }
</style>
<footer class="bg-body-tertiary text-center fixed-bottom">

    <div class="container p-4"></div>

    <div class="text-center p-3" style="background-color: #1F1D36; color: white;">
        © 2023 Copyright:
        <a style="color: rgb(28, 94, 152);" href="https://getbootstrap.com/">getbootstrap.com</a>
    </div>

</footer>