<nav class="navbar" style="background-color: #151427;">
    <img src="/assets/music-notes.png" width="30" height="30">
    <div>
        <a style="padding-right: 2em;" href="#">
            <img src="/assets/user.png" width="30" height="30">
        </a>
        <a href="#">
            <img src="/assets/logout.png" width="30" height="30">
        </a>
    </div>
</nav>